#map 
    width: 750px;
    height: 500px;


.page-id-19
	
	.section_1_right
		padding-bottom 0 !important
	header
		height 600px
		background-size cover
		background-repeat no-repeat
		background-position center
		position relative

		
		h2
			top 40%
			width 70%
			margin-left 15%
			text-align center
			font-family plantinBold
			color #fff
			position absolute
			
	.boilerplate
		border-bottom 1px solid #D3CFD8
		width 80%
		margin-left 10%
		margin-right 10%
		

		.boilerplate_p
			width 95%
			margin-right 5%	
			color #737373
			font-family plantinRegular
			font-size 18px
			padding-top 50px
			padding-bottom 50px
			
	.ourTeam
		width 80%
		margin-left 10%
		margin-right 10%
		padding-top 50px
		padding-bottom 10px
		overflow hidden
		h2
				width 55%
				float right
				font-family plantinRegular
				font-weight 300
				font-size 28px
			
			
				
			
		

	.staffSection
		width 80%
		margin-left 10%
		margin-right 10%
		border-bottom 1px solid #D3CFD8
		overflow hidden
		
		.staffLeft
			overflow hidden
			width 45%
			float left
			padding-top 50px
			padding-bottom 50px
					
			.staffQuote
				width 45%
				float left	
				margin-left 3%
				margin-right 5%
				p
					font-family plantinItalic
					font-weight 500
					font-size 20px
					width 100%
					
			.staffImage
				width 175px
				height 175px
				background-repeat no-repeat
				background-size contain
				float left		
		
		.staffRight
			width 50%
			padding-bottom 25px
			overflow hidden
			padding-top 50px
			padding-bottom 50px
			
			
			.nameTitle p
				font-family whitneyMedium
				color #737373
				
				span
					color black
					
			
			.staffParagraph
				p
					padding-bottom 25px
					margin-bottom 0
					color #737373
					font-family whitneyRegular
					font-size 18px
					
			

			.contactInformation
				
				overflow hidden
				width 80%
				
				
				p
					margin-bottom 0
					font-family whitneyMedium
					span
						font-weight 700
						font-family whitneyBold
					
		
		img
			width 175px
			height 175px
			float left


@media (max-width 920px)

	.page-id-19
		section.staffSection
			overflow hidden
			.staffLeft
				width 35%
				float left
				
				.staffQuote
					width 90%
					margin-left 0
					p
						width 175px
						padding-top 15px
						margin-left 0
						font-size 17px
			.staffRight
				width 65%			
						
	

			
@media (max-width 650px)
	.page-id-19
		section.staffSection
			.staffLeft
				width 100% !important
				padding-top 25px
				padding-bottom 25px
				.staffQuote
					width 55%
					margin-top 5%
					margin-left 5%
					
					p
						width 100%
						
						

			.staffRight
				width 100%	
				padding-top 5px
				.nameTitle
					margin-bottom 10px
				
		.ourTeam
			h2
				width 100%
				text-align center
				
@media (max-width 610px)
	.page-id-19
		section.staffSection
			.staffLeft
				.staffQuote
					width 65%	
					margin-top 3%
					margin-left 5%
					margin 0 auto
					
					p
						margin-bottom 0
						margin-left 5%
						
				.staffImage
					float left
					clear both
					background-size contain
					background-repeat no-repeat
					
					img
						float left
						clear both
						
								
						

				
				.staffImage
					height 125px
					width 125px
					margin 0 auto	
					
			.staffRight
				.nameTitle
					margin-bottom 5px
					p
						margin-bottom 0		
					

					
@media (max-width 525px)
	.page-id-19
		section.staffSection
			.staffLeft
				.staffQuote
					margin-top 0
					margin-left 3%
					p
						margin-left 0
					


@media (max-width 450px)
	.page-id-19
		section.staffSection
			.staffLeft
				padding-bottom 15px
				text-align center
				.staffQuote
					margin-left 0
					width 100%
					p
						margin-bottom 15px;
						font-size 15px	
						margin-left 0
						width 100%
						margin 0 auto
					
				.staffImage
					height 125px
					width 125px
					margin 0 auto	
			
			.staffRight
				padding-top 0		


@media (max-width 450px)
	.page-id-19
		section.staffSection
			.staffLeft
				text-align center
				.staffQuote
					margin-left 0
					width 100%
					margin-left 0
					padding-top 0
					margin-top 0
					p
						margin-bottom 15px;
						font-size 15px
						margin-top 15px	
					
				.staffImage
					height 125px
					width 125px
					margin 0 auto	
					float none
			
			.staffRight
				padding-top 0
				
@media (max-width 350px)
	.page-id-19
			section.staffSection
				.staffLeft
					text-align center
					.staffQuote
						margin-left 0
						width 100%
						padding-top 0
						margin-top 0
						p
							margin-bottom 15px;
							font-size 15px
							margin-top 0
							padding-top 0
							margin-left 0
							margin-top 15px	
					
			
		

				
						
		


			
		


			
	