.page-id-21 
	header
		height 600px
		background orange
		position relative
		
		h2
			padding-top 230px
			width 70%
			margin-left 15%
			text-align center
			font-family plantinBold
			color #fff
			
	.section_1 
		border-bottom 1px solid #D3CFD8
		background white
		width 90%
		margin-left 5%
		margin-right 5%
		

		.section_1_p
			width 95%
			margin-top 35px	
			margin-right 5%	
			color #737373
			font-family plantinRegular
			font-size 18px
			
	.ourTeam
		width 90%
		margin-left 5%
		margin-right 5%
		padding-top 5%
		padding-bottom 3.5%
		h2
				width 55%
				float right
				font-family plantinRegular
				font-weight 300
				font-size 28px
			
			
				
			
		

	.staffSection
		width 90%
		margin-left 5%
		margin-right 5%
		border-bottom 1px solid #D3CFD8
		padding-top 20px
		
		.staffLeft
			overflow hidden
			width 45%
			float left
			.staffQuote
				width 45%
				float left	
				margin-left 3%
				margin-right 5%
				p
					font-family plantinItalic
					font-weight 500
					font-size 20px
					width 100%
		
		.staffRight
			width 50%
			padding-bottom 25px
			overflow hidden
			
			.nameTitle p
				font-family whitneyMedium
				color #737373
				
				span
					color black
					
			
			.staffParagraph
				p
					padding-bottom 25px
					margin-bottom 0
					color #737373
					font-family whitneyRegular
					font-size 18px
					
			

			.contactInformation
				
				overflow hidden
				width 80%
				
				
				p
					margin-bottom 0
					font-family whitneyMedium
					span
						font-weight 700
						font-family whitneyBold
					
		
		img
			background red
			width 175px
			height 175px
			float left
		
			
			

			

			

						
		


			
		


			
	