.social1
	a
		height 35px
		width 35px
		background-image url('assets/images/behance.svg')
		display inline-block
.social2
	a
		height 35px
		width 35px
		background-image url('assets/images/twitter.svg')
		display inline-block
.social3
	a
		height 35px
		width 35px
		background-image url('assets/images/instagram.svg')	
		display inline-block	

footer 
	position relative

.page-id-2
	footer.site-footer
		position relative
		margin-top 0 !important
				
@media (max-width 814px)
	footer.site-footer
		position relative !important
						
		

.page-id-2, .page-id-19
	footer
		margin-top 0
		border-top 1px solid transparent
		
		.footerWrapper
			border-top 1px solid transparent
			
.page-id-19
	footer
		padding-top 25px		


footer
	margin-top 25px
	background-color #ECECEC
	margin-left 10%
	margin-right 10%
	width 80%
	height 8vh
	
	
	.footerWrapper
		border-top 1px solid black
		position absolute
		width 100%
		top 15%
		
		&:before
			content url('assets/images/blackCrosshairMini.png')
			position absolute
			left -65px
			top 15px
		
		&:after
			content url('assets/images/blackCrosshairMini.png')
			position absolute
			right -64px
			top 15px	
		
		
			
		
		
	.site-info
		p
			font-family plantinBold
			font-size 16px;
			padding-top 15px
			font-weight 300
			margin-bottom 5px
			clear both
			margin 0
			
	.socialIcons
		padding-top 10px
		overflow hidden	
		float right
		position absolute
		top 0
		right 0
		
		i
			font-size 30px
		
		
	p.copyrightText
		font-size 12px
		padding-top 0
		font-family plantinRegular
		font-weight 300	
		display inline	
			
	.social1, .social2, .social3
		margin 5px	
		float left	
		border-radius 20px


.single footer
	position relative
	
	.footerWrapper
		border-top 1px solid transparent !important	
		
@media (max-width 814px)
	.page-id-2
		footer.site-footer
			margin-top 5px
				


@media (max-width 477px)
	footer
		.footerWrapper
			.site-info
				 p
					font-size 15px
					
		.socialIcons
			margin-left 10%
			margin-right 10%
			float none		
			

// remove footer border on about page-id-21
		
	
.page-id-21
	footer
		margin-top 0
	.footerWrapper
		border-top 1px solid transparent !important

	