.page-id-2
	footer.site-footer
			.footerWrapper
				width 75% 
				margin-right 12.5% 
				margin-left 12.5% 
		.site-info
			width 90%
			margin-left 5%
			margin-right 5%
		



.single footer
	background #F1F1F1 !important
	
	.footerWrapper
		border-top 1px solid transparent !important	
		
@media (max-width 650px)
	.page-id-2
		footer.site-footer
			margin-top 5px
				.footerWrapper
					width 90%
					margin-left 5%
					margin-right 5%
			
			.site-info
				width 90% !important
				margin-left 5%
				margin-right 5%
	


@media (max-width 477px)
	footer
		.footerWrapper
			.site-info
				width 90% !important
				margin-left 5%
				margin-right 5%
				 p
					font-size 15px
		.socialIcons
			width 80%
			margin-left 10%
			margin-right 10%
			float none		
			

// remove footer border on about page-id-21
		
	
.page-id-21
	footer
		margin-top 0
	.footerWrapper
		border-top 1px solid transparent !important

	