

*
	margin:0
	padding:0
	text-decoration none
	link-style-type none

.site-title
	font-family plantinBold

		  
.page-id-2 .Wallop-buttonPrevious
	background-image url('assets/images/arrowLeft.png')
	width 107px
	height 140px
	background-size contain
	background-repeat no-repeat

.page-id-2 .Wallop-buttonNext	
	background-image url('assets/images/arrowRight.png')		
	width 107px
	height 140px  
	background-size contain
	background-repeat no-repeat
	background-position right

.mobileImage
	display none

@media (min-width 650px)

	.page-id-16
		top 0
		z-index 1
		width 100%
		height 0
		a
			color #fff	
			
		#menu-menu-1
			z-index 9999999
			li a
				color black
				z-index 99999999 !important
				font-family plantinRegular
				margin-right 20px
				font-size 18px
				color black
				z-index 999999
				padding-right 0
				padding-top 5px
				padding-bottom 5px
				border-bottom 1px solid transparent
				border-top 1px solid transparent
				transition .25s all ease-in-out
				 
				
				&:hover
					border-bottom 1px solid black
					border-top 1px solid black 
			
	h1.site-title
		margin-top 35px !important
		// position fixed	
		width 100%
		z-index 999999
			
	
	
	h1.site-title a
		position absolute
		padding-top 0
		margin-top 0
		margin-left 10%
		color black !important
		z-index 9999999
		// position fixed !important
			
	#menu-menu-1 
		// position fixed
		

	nav ul
		padding-right 10%
			
		li
			a
				font-family plantinRegular
				padding-right 20px
				font-size 18px
				color black
				z-index 9999999
				
				color black
				z-index 99999999 !important
				font-family plantinRegular
				margin-right 20px
				font-size 18px
				color black
				z-index 999999
				padding-right 0
				padding-top 5px
				padding-bottom 5px
				border-bottom 1px solid transparent
				border-top 1px solid transparent
				transition .25s all ease-in-out
				 
				
				&:hover
					border-bottom 1px solid white
					border-top 1px solid white 
	

	.page-id-2 header#masthead, .page-id-19, .page-id-21, .page-id-23
		top 0
		z-index 9999
		width 100%
		height 0
		a
			color white	!important
	
		
		h1.site-title a
			position absolute
			padding-top 0
			margin-top 0
			margin-left 10%
			color white !important
			z-index 9999999

		nav ul
			padding-right 10%
			z-index 999999
		
	
		
	.homeTextBlock
		text-decoration none
		link-style-type none
		
		
			
		h2
			margin-left 12.5%
			padding-top 145px
			color #fff
			text-decoration none
			link-style-type none
			font-family plantinRegular
			font-weight 300
			font-size: 50px
			width 45%
			
			a
				color white
				&:hover
					white
			
			
		h3
			margin-top:10px
			margin-left 12.5%	
			color #fff
			text-decoration none
			link-style-type none
			font-size 30pt
			font-family whitneyMedium
			font-weight 100
			
			a
				color white
				&:hover
					white
	
	.exampleClass img 
		display:none;
	
	.exampleClass 
		height 84vh
		width 100%
		background-repeat no-repeat
		background-size cover
		background-position center
		

		

// wallop stuff

.page-id-2 
	.Wallop-buttonPrevious
		position absolute
		left 2.5%
		top 35%
		z-index 9999
		background contain
		opacity .45
		transition .15s ease-in-out all
		cursor url(assets/images/crosshair2.png) 16 16, auto
		
	.Wallop-buttonNext
		position absolute
		right 2.5%
		top 35%
		opacity .45
		z-index 9999
		background contain
		transition 0.25s ease-in-out all
		cursor url(assets/images/crosshair2.png) 16 16, auto
				
	.Wallop-buttonNext:hover, .Wallop-buttonPrevious:hover
		opacity 1	
	
			

	
		


// mobile first styling

@media (max-width 650px)

	
	.mobileImage
		display block	
		margin-left 2%
		margin-right 2%
		width 96%
		
	.plusSignHome
		&:after
			content url(assets/images/crosshair.png)
			color black
			position absolute
			top 20%
			right 0	
			font-size 75px
			font-weight 100
			font-family plantinLight
			font-weight 100
			color #000

	.Wallop-item
		visibility visible !important
		position relative !important
		
	.Wallop-BG
		background red	
	

	.Wallop-buttonNext, .Wallop-buttonPrevious
		display none	

	#menu-menu-1 
		margin-left 0
		padding-left 2%
	
	.mobilenav ul li
		&:nth-child(1)
			
			&:after
				content url(assets/images/crosshair.png)
				font-size 60px
				font-family plantinLight
				font-weight 100
				right 1%
				transform: translateY(-5px)
				position absolute
				line-height:70px
				
				
		&:nth-child(2)
			&:after
				content url(assets/images/crosshair.png)
				font-size 60px
				font-family plantinLight
				font-weight 100
				right 1%
				transform: translateY(-5px)
				position absolute
				line-height:70px
				
		&:nth-child(3)
			&:after
				content url(assets/images/crosshair.png)
				font-size 60px
				font-family plantinLight
				font-weight 100
				right 1%
				transform: translateY(-5px)
				position absolute
				line-height:70px
				
				
		&:nth-child(4)
			&:after
				content url(assets/images/crosshair.png)
				font-size 60px
				font-family plantinLight
				font-weight 100
				right 1%
				transform: translateY(-5px)
				position absolute
				line-height:70px						

	.mobilenav ul li 
		min-width 300px
		text-align left
		border-bottom 1px solid #D3CFD8
		
		a
			font-size:32pt; 
			font-family plantinRegular
			font-weight 300
		
		
	

	header#masthead
		width 100%
		
		

	.linkWrapper
		text-decoration none
		link-style-type none
		
	#main .exampleClass 
		background-repeat no-repeat
		background-size cover
		background #fff
		background-image none !important
		
		
		img
			width 100%
			text-align center
			

		.homeTextBlock 
			position relative
			margin-right 2%
			margin-left 2%

		
			
		
		h2 
			position relative
			margin-top 20px
			padding-bottom 0
			margin-bottom 0
			width 75%
			font-family plantinRegular
			font-weight 300
			color #030303
			font-size 27pt
			text-decoration none
			z-index 5
			
			a
				color black 
		h3
			position relative
			margin-bottom 20px
			padding-top 0
			margin-top 0
			z-index 5
			font-family plantinRegular
			font-weight 500
			color #858585
			font-size 27pt
			text-decoration none
			
			a
				color #949494
				
			
			
		.plusSign
			position absolute
			top:10%;
			right 0
			font-family plantinLight
			font-weight 100
			
		.plusSign
			&:after 
				content '+'
				font-size 60px
				font-weight 100
				font-family plantinLight
				font-weight 100
				line-height 2.2
				color #000
				
		
			

		  
// approach page 

.page-id-19 header#masthead
	height 600px
	background #3D3D3D
	position relative
	background-size cover
	background-repeat no-repeat
	
	background-position center
		
	h2.header_copy
		padding-top 230px
		width 70%
		margin-left 15%
		text-align center
		font-family plantinBold
		color #fff
		font-size 30px	
		

			

.page-id-19
			
	.section_1
		border-bottom 1px solid #D3CFD8
		width 90%
		background white
		margin-left 5%
		margin-right 5%
		overflow hidden
		
		
		.section_1_left
			margin-left 0
			width 40%
			
			h2
				font-size 25px
			
		.section_1_right
			margin-right 0
			width 55%
			
			.section_1_p
				margin-left 0
				margin-right 0
				padding-top 8%
				color #737373	
				font-size 18px
				
			

			
	h2
		padding-top 10%
		font-family plantinItalic
		font-weight 400	
		
		

	.section_2
		width 90%
		margin-left 5%
		margin-right 5%
		overflow hidden
		border-bottom 1px solid #D3CFD8
		padding-bottom 10px
		
		.section_2_left
			width 35%
			float left
			
			
			h2
				padding-top 60%
				font-family plantinItalic
				font-weight 400
				width 75%
				font-size 25px
				
		.section_2_right
			width 55%
			float right
			
			h2
				padding-top 25px
				font-size 28px
			
			.section_2_paragraphs
				.paragraphBlock
					
					h2
						font-family whitneyMedium
						font-weight 300
						font-size 20px
						padding-top 5%
						
					p
						color #737373	
						font-size 18px
					
		
		h2
			font-family plantinRegular
			font-weight 300
			
	.section_3
		background white
		width 90%
		margin-left 5%
		margin-right 5%
		
			
		.section_3_right
			width 55%
			overflow hidden
			float right
			margin-left 45%
			padding-bottom 15px
				
			h2
				float left
				text-align left
				font-family plantinMedium
				font-weight 500
				padding-bottom 45px
				font-size 28px
				padding-top 25px
			
			p
				float left	
				text-align left
				margin-left 0
				line-height 1
				font-size 18px
				margin-right 0
				width 100%
				padding-bottom 0
				margin-bottom 0
			
			
		.listBlock
			width 20%
			float left
			text-align left
			padding-left 5%
			
			h2
				padding-bottom 20px
				padding-top 25px
				font-size 20px
				font-weight 500
			
			p
				margin-left 0	
				line-height 1.3	
				font-size 18px
				width 100%
				
// approach mobile

@media (max-width 650px)

	.page-id-19
		.section_1
			.section_1_left
				width 100%
				text-align center
				border-bottom 1px solid #D3CFD8
				padding-bottom 35px
				
			.section_1_right
				width 100%
				
		.section_2
			.section_2_left
				width 100%
				text-align center
				h2
					padding-top 35px
					margin-right 0
					width 100%
					padding-bottom 35px
					border-bottom 1px solid #D3CFD8
					
			.section_2_right
				width 100%
				text-align center
				
				.paragraphBlock
					h2
						padding-bottom 10px
						
		.section_3
			text-align center
			.section_3_right
				width 100%
				text-align center
				h2
					width 100%
					text-align center
					
				p
					text-align center	
			
			.approachLists
				
				.listBlock
					width 50%
					padding-left 10%	
					float right	
					


				
					

				
					

// connect page 

.page-id-23
	header
		height 600px
		background-size cover
		background-position center
		

	.section_1	
		margin-right 5%
		margin-left 5%
		width 90%
		background white
		padding-top 35px
		border-bottom 1px solid #D3CFD8
		
		p
			color #737373
			font-family plantinRegular
			font-size 18px
			
	.section_2
		width 90%
		margin-left 5%
		margin-right 5%
		
		h2
			padding-top 35px
			width 55%
			margin-left 45%
			font-family plantinRegular
			font-weight 300
			padding-bottom 2%
		p
			width 55%
			margin-left 45%	
			font-family whitneyRegular
			color #737373
			
		iframe
			width 100%
			height 600px
			
		.new_business
			h2
				margin-bottom 20px
				padding-bottom 0
			p
				margin-bottom 3px	
			margin-bottom 20px	
				
		.careers
			h2
				margin-bottom 20px
				padding-bottom 0
				
			p
				margin-bottom 3px	
			
			margin-bottom 20px	
			a
				color #737373
				&:hover
					color #87848A
			

footer
	margin-top 25px
	width 100%
	background-color #fff !important
	
	.footerWrapper
		width 90%
		margin-left 5%
		margin-right 5%
		border-top 1px solid black
		
	.site-info
		width 60% !important
		float left
		margin-left 0 !important
		
		
		p
			font-family plantinBold
			font-size 22px;
			padding-top 35px
			font-weight 300
			margin-bottom 5px
			
	.socialIcons
		padding-top 20px
		overflow hidden	
		float right
		
	p.copyrightText
		font-size 15px
		padding-top 10px
		font-family plantinRegular
		font-weight 300		
			
	.social1, .social2, .social3
		width 40px
		height 40px
		background black
		margin 5px	
		float left	
		border-radius 20px
		
@media (max-width 650px)
	.page-id-23
		.section_2
			
			h2
				margin-left 0
				
			p
				margin-left 0	
			
		iframe
			height 350px	!important
			
@media (max-width 450px)
	
	.page-id-23
		.section_2
			
			h2
				width 100%
				
			p
				width 100%				


						
		


			
